.footer-container {
  background-color: #f8f9fa;
  /* padding: 40px 0 20px; */
  margin: 0;
  padding: 0;
  
}

.footer-logo {
  max-width: 100px;
}

.footer-description {
  margin: 0 auto;
  max-width: 300px;
  font-size: 14px;
}

.footer-heading {
  font-weight: bold;
  color: #F58d17;
  border-bottom: 2px solid #F58d17;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.footer-link {
  color: #000000;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}

.footer-link:hover {
  color: #F58d17;
  text-decoration: underline;
}

.footer-contact li {
  margin-bottom: 8px;
  font-size: 14px;
}

.social-icon {
  font-size: 20px;
  margin: 0 10px;
  color: #000000;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #F58d17;
}

.footer-list-unstyled{
  font-size: 1rem;
}

.footer-bottom {

  padding-top: 15px;
  margin-top: 30px;
  font-size: 18px;
  color: #060505;
  margin-left:500px;
}



@media (max-width: 768px) {
  .footer-description {
    font-size: 14px;
  }

  .footer-contact li {
    font-size: 14px;
  }
}