/* Navbar.css */
.navbar {
  background-color: transparent !important; 
  padding: 0 ;
  margin: 0;
  box-shadow: none; /* Optional: remove shadow for cleaner overlay */
  position: absolute;
  /* top: 0; */
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of the hero image */
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.25rem;
  color:  #F58d17; /* White for visibility on dark image */
}



.nav-link:hover {
  color: #b08657 !important;
}

.active-link {
  color: #cf7d1e !important;
  border-bottom: 2px solid #F58d17; /* Highlight active link */
  padding-bottom: 2px;
}

.navbar-nav .nav-link{
  font-size: 1.05rem;
  font-weight: 600;
  color: #F58d17 !important;
  transition: color 0.2s ease-in-out ;
  margin-left: 1rem;
  transition: color 0.3s ease;
  text-shadow: #b08657;
}
